<app-navbar></app-navbar>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">VENTAS DE SEPTIEMBRE</span>
          <button class="btn btn-danger float-end" routerLink="/crear-septiembre">NUEVO</button>
          <table *ngIf="listSeptiembre.length > 0" class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Cliente</th>
                <th scope="col">Telefono</th>
                <th scope="col">Ultima fecha de llamada</th>
                <th scope="col">Valor de compra</th>
                <th scope="col">Próxima llamada</th>
                <th scope="col">Nombre del encargado RyS</th>
                <th scope="col">Resultados</th>
                <th scope="col">Comentarios</th>
                <th scope="col">Estado</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let septiembre of listSeptiembre">
                <th>{{septiembre.fecha_actual | date: "dd/MM/yyyy"}}</th>
                <th>{{septiembre.nombre_cliente}}</th>
                <th>{{septiembre.telefono_cliente}}</th>
                <th>{{septiembre.ultima_fecha_llamada | date: "dd/MM/yyyy"}}</th>
                <th>{{septiembre.valor_compra | currency}}</th>
                <!-- <th>{{septiembre.frecuencia_compra}}</th> -->
                <th>{{septiembre.fecha_futura}}</th>
                <th>{{septiembre.nombre_encargado}}</th>
                <th>{{septiembre.resultado}}</th>
                <th>{{septiembre.comentarios}}</th>
                <th>{{septiembre.status}}</th>
                <td><i [routerLink]="['/editar-septiembre', septiembre._id]" class="fas fa-edit text-primary"></i>
                  <i (click)="eliminarVenta(septiembre._id)" class="fas fa-trash text-danger"></i>
                </td>
              </tr>
              <h5 style="text-align: start; margin-top: 10px;" *ngIf="listSeptiembre.length == 0">No hay productos para
                mostrar</h5>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>