<app-navbar></app-navbar>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">VENTAS DE ABRIL</span>
                    <button class="btn btn-danger float-end" routerLink="/crear-abril">NUEVO</button>
                    <table *ngIf="listAbril.length > 0" class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Cliente</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Ultima fecha de compra</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Ultima fecha de llamada</th>
                            <th scope="col">Nombre del encargado RyS</th>
                            <th scope="col">Resultados</th>
                            <th scope="col">Comentarios</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                        
                          <tr *ngFor="let abril of listAbril">
                            <th>{{abril.nombre_cliente}}</th>
                            <th>{{abril.telefono_cliente}}</th>
                            <th>{{abril.ultima_fecha_compra}}</th>
                            <th>{{abril.producto}}</th>
                            <th>{{abril.ultima_fecha_llamada}}</th>
                            <th>{{abril.nombre_encargado}}</th>
                            <th>{{abril.resultado}}</th>
                            <th>{{abril.comentarios}}</th>
                            <td><i  [routerLink]="['/editar-abril', abril._id]" class="fas fa-edit text-primary"></i>
                              <i (click)="eliminarVenta(abril._id)" class="fas fa-trash text-danger"></i></td>
                          </tr>
                        <h5 style="text-align: start; margin-top: 10px;" *ngIf="listAbril.length == 0">No hay productos para mostrar</h5>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
